/build/
/build[.-]*/
/out
/cmake/
/cmake[.-]*/
/coverage/
/.vs/
/.vscode/
/fuzz/luau.pb.*
/crash-*
/default.prof*
/fuzz-*
/luau
/luau-tests
/luau-analyze
/luau-bytecode
/luau-compile
/luau.exe
/luau-analyze.exe
/target/
__pycache__
.cache
.clangd
/copytoluwu.luau
